@{
    ViewData["Title"] = "Home Page";
}

<div class="align-content-center">
    <label class="form-text mb-1">Выбор шелла</label>
    <select class="form-control-sm mb-2" id="selector">
        <option value="cmd">Командная строка</option>
        <option value="powershell">PowerShell</option>
    </select>
    <textarea rows="20" cols="150" id="textarea"></textarea>
</div>
